header {
    position: relative;
    height: 331px;
    background: -o-linear-gradient(217.71deg, rgba(0, 0, 0, .92) 0, rgba(0, 0, 0, 0) 35.39%), -o-radial-gradient(36.12% 10.94%, 79.83% 79.83%, rgba(0, 44, 199, .23) 0, rgba(0, 0, 0, 0) 100%), -o-radial-gradient(30.03% 43.76%, 28.95% 127.06%, rgba(234, 12, 145, .22) 0, rgba(0, 0, 0, 0) 100%), -o-radial-gradient(5% 5.91%, 73.7% 166.56%, rgba(104, 15, 218, .35) 0, rgba(0, 0, 0, 0) 100%), -o-radial-gradient(92.06% 76.24%, 30.99% 128.46%, rgba(219, 0, 255, .17) 0, rgba(5, 8, 39, 0) 100%), -o-radial-gradient(5.89% 72.04%, 45.41% 186.13%, rgba(170, 9, 105, .38) 0, rgba(12, 2, 10, 0) 100%), -o-linear-gradient(347.47deg, #0c2068 0, #0d0107 100%);
    background: linear-gradient(232.29deg, rgba(0, 0, 0, .92) 0, rgba(0, 0, 0, 0) 35.39%), radial-gradient(79.83% 79.83% at 36.12% 10.94%, rgba(0, 44, 199, .23) 0, rgba(0, 0, 0, 0) 100%), radial-gradient(28.95% 127.06% at 30.03% 43.76%, rgba(234, 12, 145, .22) 0, rgba(0, 0, 0, 0) 100%), radial-gradient(73.7% 166.56% at 5% 5.91%, rgba(104, 15, 218, .35) 0, rgba(0, 0, 0, 0) 100%), radial-gradient(30.99% 128.46% at 92.06% 76.24%, rgba(219, 0, 255, .17) 0, rgba(5, 8, 39, 0) 100%), radial-gradient(45.41% 186.13% at 5.89% 72.04%, rgba(170, 9, 105, .38) 0, rgba(12, 2, 10, 0) 100%), linear-gradient(102.53deg, #0c2068 0, #0d0107 100%)
}

.conteiner {
    display: block
}

.bg_header_portfolio {
    position: absolute;
    width: 100%
}

header .links {
    padding-top: 91px
}

header h1 {
    color: #fff;
    font-weight: 700 !important;
    font-size: 70px;
    line-height: 85px;
    text-align: left;
    padding-top: 145px
}

.sort_links {
    margin-top: 9px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.sort_links a {
    padding: 0 17px;
    height: 41px;
    background: rgba(80, 107, 201, .3);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border-radius: 20.5px;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.sort_links a:hover {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    background: #fff;
    color: #000f93
}

.projects {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.projects a {
    width: 33.33%;
    position: relative;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.projects a img {
    width: 100%
}

.projects a .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #060a26;
    opacity: .6;
    top: 0;
    z-index: +1;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.projects a:hover .background {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    opacity: 0
}

.links {
    padding-top: 91px
}

footer {
    width: 100%;
    height: 77px;
    background-color: #000
}