.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    -webkit-transform: rotate(90deg) translateY(-100vh);
    -ms-transform: rotate(90deg) translateY(-100vh);
    transform: rotate(90deg) translateY(-100vh);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left
}