.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr);
    -webkit-transform: rotate(90deg) translateY(-100vh);
    -ms-transform: rotate(90deg) translateY(-100vh);
    transform: rotate(90deg) translateY(-100vh);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left
}

.content p,
.infographic p,
.motion p {
    width: 363px;
    font-size: 23px;
    line-height: 27px;
    padding-left: 100px;
    padding-right: 0
}

.content .desc img {
    margin-left: 31px;
    margin-top: 0
}

.motion .desc img {
    margin-left: 46px;
    margin-top: 34px
}

.infographic .desc img {
    margin-left: 42px;
    margin-top: 17px
}